[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 ./plant_watering/plant_watering.py"
client = "python3 ./plant_watering_client/plant_watering_client.py"
lint = "pylint plant_watering"

[packages]
gitpython = "*"
"rpi.gpio" = "*"
systemd = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
